doctype html
html
    head
        title=title
        link(rel='stylesheet', href='/index.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        h1 #{title}
        div.main
            ul
                each list in lists
                    li
                        div.bundle-title
                            a.game(href= ""+list[1]) #{list[0]}
                        div.bundle-row1
                            div.bundletime #{list[2]}

